.bureau-package {
  padding: 51px 0 40px;
}

.bureau-package__title {
  margin-bottom: 55px;
}

.bureau-package__cards {
  position: relative;
  z-index: 5;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(397px, 1fr));
  -ms-grid-rows: -webkit-min-content;
  -ms-grid-rows: min-content;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  gap: 22px;
}

.card-package {
  position: relative;
  min-height: 420px;
  padding: 64px 51px 40px;
  background-color: #ffffff;
  border: 1px solid #A9844B;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.card-package__content {
  height: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.card-package__img {
  width: 100px;
  height: 100px;
  margin-bottom: 122px;
}

.card-package__img img {
  display: block;
  width: 100%;
  height: auto;
}

.card-package__title {
  word-wrap: break-word;
}

.card-package__title span {
  color: transparent;
}

.card-package:hover {
  background-color: #A9844B;
  -webkit-transition: background-color 0.8s;
  -o-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

.card-package:hover .card-package__desc {
  bottom: 0%;
  height: 100%;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.card-package:hover .card-package__content {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.card-package__desc {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 0%;
  color: #ffffff;
  padding: 64px 51px 40px;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

@media screen and (max-width: 1440px) {
  .bureau-package {
    padding: 37px 0;
  }

  .bureau-package__title {
    margin-bottom: 42px;
  }

  .bureau-package__cards {
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    gap: 30px;
  }

  .card-package {
    min-height: 310px;
    padding: 41px 48px 46px;
  }

  .card-package__img {
    width: 94px;
    height: 94px;
    margin-bottom: 45px;
  }

  .card-package__desc {
    padding: 42px;
  }
}

@media screen and (max-width: 992px) {
  .bureau-package {
    padding: 30px 0;
  }

  .bureau-package__title {
    margin-bottom: 40px;
  }

  .bureau-package__cards {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
  }

  .card-package {
    min-height: 222px;
    padding: 22px 27px 34px;
  }

  .card-package__img {
    width: 60px;
    height: 60px;
    margin-bottom: 52px;
  }

  .card-package__desc {
    padding: 15px;
  }
}

@media screen and (max-width: 540px) {
  .bureau-package {
    padding: 20px 0;
  }

  .bureau-package__title {
    margin-bottom: 8px;
  }

  .bureau-package__cards {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 10px;
  }

  .card-package {
    min-height: 160px;
    padding: 20px 13px 24px;
  }

  .card-package__img {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
  }

  .card-package__desc {
    padding: 10px;
  }
}