.cases-plan {
  padding: 32px 0;
}

.cases-plan__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 22px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: -webkit-min-content;
  -ms-grid-rows: min-content;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  row-gap: 20px;
}

.cases-plan__wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.cases-plan__wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.cases-plan__img {
  width: 100%;
  height: auto;
}

.cases-plan__img img {
  display: block;
  width: 100%;
}

.cases-plan__text {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  max-width: 718px;
}

.cases-plan__text p:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 1440px) {
  .cases-plan {
    padding: 24px 0 32px;
  }

  .cases-plan__wrapper {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

@media screen and (max-width: 940px) {
  .cases-plan {
    padding: 21px 0 10px;
  }
}

@media screen and (max-width: 540px) {
  .cases-plan {
    padding: 13px 0 19px;
  }

  .cases-plan__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: -webkit-min-content;
    -ms-grid-rows: min-content;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
  }

  .cases-plan__wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}